/* Vehicle.module.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: serif, "Times New Roman", Times;
}
.home-page h1 {
  text-align: center;
  color: rgb(102, 98, 98);
  margin: 30px 0;
}

.vehicle-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr)); /* Default: 4 columns */
  gap: 15px;
  justify-content: center;
  margin: 30px 40px;
}

.card-container {
  background-color: rgb(230, 228, 228);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s; /* Transition properties */

  /* Box shadow */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Initial box shadow */
}

/* Hover effect */
.card-container:hover {
  transform: translateY(-5px); /* Move the card up by 5px */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Change the box shadow on hover */
}

.card-image {
  width: 100%;
  height: 250px;
  border-radius: 4px;
  object-fit: cover;
}

.card-text-content a {
  text-decoration: none;
  color: rgb(102, 98, 98);
  cursor: pointer;
}

.card-text-content h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.brand-name {
  text-align: center;
}

.card-text-content div h3 {
  font-size: medium;
  padding-left: 10px;
}

.card-text-content div h4 {
  font-size: smaller;
  padding-left: 10px;
}

.arrow {
  margin-left: 20px;
  font-size: 20px;
}

.vehicle-status-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.vehicle-status-price .status {
  text-transform: uppercase;
}

/* dealer info */
.dealer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

/* contact me */
.center-button {
  display: flex;
  justify-content: center;
  margin: 2px 15px; /* Adjust margin as needed */
  margin-bottom: 20px;
}

.center-button .contact-me {
  padding: 5px 40px;
  border-radius: 5px;
  background-color: rgba(230, 228, 228, 0.7); /* Blend with the card's color */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transition properties */
}

.center-button .contact-me:hover {
  background-color: rgba(206, 204, 204, 0.7); /* Blend with the card's color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow on hover */
  transition-delay: 0.2s; /* Delay before transition starts on hover */
}
/* pagination style */
.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.pagination-buttons {
  display: flex;
  gap: 10px; /* Adjust the spacing between buttons */
}

/* Vehicle.module.css */

.brand-list-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.brand-link {
  text-decoration: none;
}

.brand-list-text {
  font-size: large;
  margin-left: 40px;
  color: rgb(102, 98, 98);
}

.brand-list-text:hover {
  color: rgb(44, 37, 37);
}

.brand-link {
  text-decoration: none;
}

.active-brand .brand-list-text {
  /* Styles for the active link */
  color: black; /* Change to the desired color for the active link text */
  border-bottom-style: solid;
  border-color: black;
  padding: 10px;
  border-radius: 3px;
}

/* dealer profile styles */
.dealer-profile-container {
  height: 30vh;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin: 30px auto;
}

.left-side {
  grid-row: span 2;
  background-color: rgba(230, 228, 228, 0.7);
}

.left-side img {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: cover;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(230, 228, 228, 0.7);
}

.right-side h2 {
  font-size: large;
  margin-left: 10px;
}
.right-side p {
  color: rgb(121, 121, 121);
  margin-left: 10px;
}

.View-deals {
  text-decoration: none;
  grid-column: span 3;
  background-color: rgba(230, 228, 228, 0.7);
}

.View-deals h2 {
  text-align: center;
  color: rgb(44, 94, 137);
}

/* change this tommorownpm s */
@media screen and (max-width: 780px) {
  .dealer-profile-container {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    width: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .left-side {
    grid-row: span 2;
  }
  .View-deals {
    grid-column: span 2;
  }
}

@media screen and (max-width: 385px) {
  .dealer-profile-container {
    margin-bottom: 110px;
  }
}

/* .right-side-name {
} */

/* Media query for smaller screens */
@media screen and (max-width: 1058px) {
  .vehicle-grid {
    grid-template-columns: repeat(
      2,
      minmax(250px, 1fr)
    ); /* 2 columns on smaller screens */
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 658px) {
  .vehicle-grid {
    grid-template-columns: repeat(
      1,
      minmax(250px, 1fr)
    ); /* 2 columns on smaller screens */
  }
}
