@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* 
.home, */
.reports,
.products,
.team {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* CSS */
.landing-page {
  background-image: url("../public/images/image2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.landing-page img {
  width: 100vw;
  height: 100vh;
}

.landing-page h1 {
  text-align: center;
  color: rgb(245, 245, 245);
  font-size: 100px;
  opacity: 0; /* Initially set to transparent */
  animation: fadeIn 1s forwards; /* Apply the animation */
}

.landing-page-link {
  text-decoration: none;
  transition: transform 0.3s ease; /* Transition for smoother animation */
}

.landing-page-link:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add this to your CSS */
.login-register-form {
  opacity: 0; /* Initially set to transparent */
  animation: fadeIn 1s forwards; /* Apply the animation */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
  border: 1px solid #000000; /* Border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  padding: 20px; /* Padding for better spacing */
}

.login-register-box {
  width: 30%;
}

.specific-dealer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 10px;
}

.specific-dealer-container h1 {
  text-transform: uppercase;
  margin-bottom: 35px;
}

.table-container {
  width: 94%;
  margin: 0 auto; /* Center the table */
  z-index: -1;
}
.table-container h2 {
  margin: 70px 0 20px 0;
  font-size: 25px;
}

@media (max-width: 768px) {
  .login-register-box {
    width: 70%; /* Adjust width for smaller screens */
  }
}
@media (max-width: 480px) {
  .login-register-box {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.manufacturer-link {
  text-decoration: none;
}
.manufacturer-span {
  margin: 0;
  text-decoration: none;
}

.manufacturer-click-for-more-info {
  margin-top: 90px;
  margin-left: 40px;
  font-size: 25px;
  text-transform: uppercase;
}

.manufacturer-title h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
}
